*{
  padding: 0px;
  margin: 0px;
  width: 970px;
}

h1{
  margin: 15px;
}

img{
  display: inline-block;
  margin: 5px;
  width: 200px;
}

button{
  padding: 10px;
  background-color: green;
  color: white;
  width: 80px;
  display: block;
  margin-top: 15px;
  margin-left: 10px;
}
