*{
  margin: 0px;
  padding: 0px;
  color: black;
}

body{
  width: 690px;
  background-color: #d4d1b2;
}

header{
  display: block;
  text-align: center;
  height: 90px;
}

header img{
  display: inline;
  width: 100px;
}

h1{
  display: inline;
}

main img{
  width: 100px;
  height: auto;
  padding: 10px;
  margin: 1px;
  border: 2px solid black;
}

.blue{
  background-color: #7fb5e9;
}

.red{
  background-color: #f86772;
}

#domo{
  height: 100px;
}

#head2{
  background-color: white;
}
