<!DOCTYPE html>
<html>
  <head>
    <title>Login and Registration | Home</title>
    <meta charset="utf-8">
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <p class='{{ message.tags }}'>{{ message }}</p>
      {% endfor %}
    {% endif %}
    <h1>Registration</h1>
    <form action='{% url 'create' %}' method='post'>
      {% csrf_token %}
      <p>First Name: <input type='text' name='first_name'></p>
      <p>Last Name: <input type='text' name='last_name'></p>
      <p>Email: <input type='text' name='email'></p>
      <p>Password: <input type='text' name='password'></p>
      <p>Confirm Password: <input type='text' name='confirm'></p>
      <input type='submit' value='Register'>
    </form>
    <h1>Login</h1>
    <form action='{% url 'login' %}' method='post'>
      {% csrf_token %}
      <p>Email: <input type='text' name='email'></p>
      <p>Password: <input type='text' name='password'></p>
      <input type='submit' value='Login'>
    </form>
  </body>
</html>
